{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "import",
    "eslint-plugin-simple-import-sort"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended",
    "plugin:security/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/ban-ts-comment": 0,
    "semi": [2, "never"],
    "max-len": [2, 135, 4],
    "object-curly-spacing": [2, "always"],
    "array-bracket-spacing": [2, "never"],
    "computed-property-spacing": [2, "never"],
    "simple-import-sort/imports": 2,
    "import/no-unresolved": 0,
    "security/detect-object-injection": 0
  }
}
